@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="errorpage span9 img-polaroid pagination-centered offset1">
    <div class="row-fluid">
        <h2 class="text-info">Oops...</h2>
        <b class="text-info">Looks like the page you we're looking for doesn't exist or you don't have permission to it.</b>
        <div class="row-fluid">
            <img src="~/Content/img/404.jpg" />
        </div>
        <hr />
    </div>
    <br />
    <div class="row-fluid muted">
            <b><i>Luckily enough, we have some pages that do exist in the menu above :)</i></b>
    </div>
</div>