@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Ooops... Ett fel inträffade, var god försök igen eller försök om en stund.
    </h2>
    <p>Kvarstår felet, kontakta ansvarig. Mvh //Admin</p>
    <p>
        <a href="http://172.16.214.1/1dv409/hk222cx/"><input type="button" class="btn-success" value="Return to site" /></a>
    </p>
</body>
</html>