@{    
  Layout = "~/Views/Shared/_Layout.cshtml";
  }
<section>
    <img src="~/Content/img/frontpage_image.png" class="img-polaroid"/>
</section>
<article>
	<div class="row-fluid">
		<div class="span4">
			<h4> first column </h4>
			<p>
				Pellentesque habitant morbi tristique senectus et netus et malesuada
				fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
				ultricies eget, tempor sit amet, ante.
			</p>
			<section>
				<p class="muted">
					<em>30/1/2013</em>
				</p>
				<button class="createButtons readMore"> Read more </button>
			</section>
		</div>
		<div class="span4">
			<h4> second column </h4>
			<p>
				Pellentesque habitant morbi tristique senectus et netus et malesuada
				fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
				ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
				egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
			</p>
			<section>
				<p class="muted">
					<em>30/1/2013</em>
				</p>
				<button class="createButtons readMore"> Read more </button>
			</section>
		</div>
		<div class="span4">
			<h4> third column </h4>
			<p>
				Pellentesque habitant morbi tristique senectus et netus et malesuada
				fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
				ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
				egestas semper.
			</p>
			<section>
				<p class="muted">
					<em>30/1/2013</em>
				</p>
				<button class="createButtons readMore"> Read more </button>
			</section>
		</div>
	</div>
</article>